<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zf.easyboot.modules.system.mapper.JobMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.zf.easyboot.modules.system.entity.JobEntity" id="jobMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="deptId" column="dept_id"/>
        <result property="sort" column="sort"/>
        <result property="status" column="status"/>
        <result property="deleted" column="deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="jobVo" type="com.zf.easyboot.modules.system.vo.JobVo" extends="jobMap">
        <result property="deptName" column="dept_name"/>
        <result property="deptParentId" column="dept_parent_id"/>
    </resultMap>


    <select id="queryList" resultMap="jobVo">
        select a.id,
        a.name,
        a.dept_id,
        a.sort,
        a.status,
        b.parent_id as dept_parent_id,
        b.name as dept_name,
        a.create_time
        from sys_job a left join sys_dept b on(a.dept_id=b.id)
        where a.deleted=0
        <if test="params.jobName!=null and params.jobName!=''">
            and a.name like concat('%',#{params.jobName},'%')
        </if>
        <if test="params.status!=null">
            and a.status =#{params.status}
        </if>
        <if test="params.sql_filter != null and params.sql_filter !=''">
            and ${params.sql_filter}
        </if>
        ORDER BY a.create_time,a.sort
        limit #{startPage},#{pageSize}

    </select>

    <select id="queryListTotal" resultType="Integer">
        select count(1) from sys_job a
        where a.deleted=0
        <if test="params.jobName!=null and params.jobName!=''">
            and a.name like concat('%',#{params.jobName},'%')
        </if>
        <if test="params.status!=null">
            and a.status =#{params.status}
        </if>
        <if test="params.sql_filter != null and params.sql_filter !=''">
            and ${params.sql_filter}
        </if>
    </select>

</mapper>