<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zf.easyboot.modules.system.mapper.LogMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.zf.easyboot.modules.system.entity.LogEntity" id="logMap">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="description" column="description"/>
        <result property="exceptionDetail" column="exception_detail"/>
        <result property="method" column="method"/>
        <result property="params" column="params"/>
        <result property="logType" column="log_type"/>
        <result property="requestIp" column="request_ip"/>
        <result property="time" column="time"/>
        <result property="deleted" column="deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>