<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zf.easyboot.modules.system.mapper.LogMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.zf.easyboot.modules.system.entity.LogEntity" id="logMap">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="description" column="description"/>
        <result property="exceptionDetail" column="exception_detail"/>
        <result property="method" column="method"/>
        <result property="params" column="params"/>
        <result property="logType" column="log_type"/>
        <result property="requestIp" column="request_ip"/>
        <result property="time" column="time"/>
        <result property="deleted" column="deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


    <select id="queryList" resultMap="logMap">
        select
        a.id,
        a.username,
        a.description,
        a.method,
        a.params,
        a.log_type,
        a.request_ip,
        a.time,
        a.create_time
        from sys_log a where a.deleted=0
        <if test="params.logType!=null">
            and a.log_type =#{params.logType}
        </if>
        <if test="params.sql_filter != null and params.sql_filter !=''">
            and ${params.sql_filter}
        </if>
        ORDER BY a.create_time desc
        limit #{startPage},#{pageSize}
    </select>


    <select id="queryListTotal" resultType="Integer">
        select count(1) from sys_log a where a.deleted=0
        <if test="params.logType!=null">
            and a.log_type =#{params.logType}
        </if>
    </select>

    <select id="queryErrorDetail" resultType="String">
        select a.exception_detail from sys_log a where a.deleted=0
        <if test="params.logType!=null">
            and a.log_type =#{params.logType}
        </if>
        <if test="params.id!=null">
            and a.id =#{params.id}
        </if>

    </select>
</mapper>