<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zf.easyboot.modules.system.mapper.RoleMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.zf.easyboot.modules.system.entity.RoleEntity" id="roleMap">
        <result property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleDesc" column="role_desc"/>
        <result property="deleted" column="deleted"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>



    <select id="queryList" resultMap="roleMap">
        select a.id,
            a.role_name,
            a.role_desc,
            a.create_time
        from sys_role a where a.deleted=0
        <if test="params.roleName !=null and params.roleName!=''">
            and a.role_name like concat('%',#{params.roleName},'%')
        </if>
        ORDER BY a.create_time
        limit #{startPage},#{pageSize}
    </select>

    <select id="queryListTotal" resultType="Integer">
        select count(1) from sys_role a where a.deleted=0
        <if test="params.roleName !=null and params.roleName!=''">
            and a.role_name like concat('%',#{params.roleName},'%')
        </if>
    </select>

</mapper>