<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.modules.${moduleName}.mapper.${className}Mapper">
    <resultMap id="${classname}Map" type="${package}.modules.${moduleName}.entity.${className}Entity">
        #foreach($column in $columns)
            #if($column.lowerAttrName==$pk.lowerAttrName)
                <id property="${pk.lowerAttrName}" column="${pk.columnName}"/>
            #else
                <result property="${column.lowerAttrName}" column="${column.columnName}"/>
            #end
        #end
    </resultMap>


    <select id="queryList" resultMap="${classname}Map">
        select
        #foreach($column in $columns)
            #if($column.lowerAttrName==$pk.lowerAttrName)
                a.${pk.columnName},
            #elseif($foreach.hasNext)
                a.${column.columnName},
            #else
                a.${column.columnName}
            #end
        #end
        from  ${tableName} a where a.deleted=0
        <if test="params.id!=null">
            and a.id=#{params.id}
        </if>
        ORDER BY a.create_time   desc
        limit #{startPage},#{pageSize}
    </select>

    <select id="queryListTotal" resultType="Integer">
        select count(1) from ${tableName} a where a.deleted=0
        <if test="params.id!=null">
            and a.id=#{params.id}
        </if>
    </select>


    <select id="exportExcel" resultType="${package}.modules.${moduleName}.excel.${className}ExcelVo">
        select
        #foreach($column in $columns)
        #if($column.lowerAttrName==$pk.lowerAttrName)
                a.${pk.columnName},
            #elseif($foreach.hasNext)
                a.${column.columnName},
            #else
                a.${column.columnName}
        #end
    #end
        from  ${tableName} a where a.deleted=0
        <if test="params.id!=null">
            and a.id=#{params.id}
        </if>
        ORDER BY a.create_time   desc
    </select>

</mapper>
